In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-jobs-in-india/Data_Science_Jobs_in_India.csv

In [2]:
df = pd.read_csv("/kaggle/input/data-science-jobs-in-india/Data_Science_Jobs_in_India.csv")
df

,Unnamed: 0,company_name,job_title,min_experience,avg_salary,min_salary,max_salary,num_of_salaries
0,0,TCS,Data Scientist,2,7.8L,4.5L,16.0L,841
1,1,Accenture,Data Scientist,2,12.8L,5.8L,23.0L,501
2,2,IBM,Data Scientist,2,13.4L,5.3L,25.0L,394
3,3,Cognizant,Data Scientist,2,9.8L,5.0L,18.0L,318
4,4,Capgemini,Data Scientist,2,8.6L,4.8L,14.6L,300
...,...,...,...,...,...,...,...,...
1597,1597,Collabera Technologies,Data Architect,8,17.0L,12.0L,23.1L,4
1598,1598,Coforge,Data Architect,7,27.1L,18.5L,39.0L,4
1599,1599,Hitachi,Data Architect,21,40.0L,25.0L,50.0L,3
1600,1600,GE Power,Data Architect,7,16.7L,14.9L,19.0L,3
1601,1601,T-Systems,Data Architect,16,33.3L,33.0L,34.0L,3